**/node_modules
**/bin
**/obj
**/.vs
**/.vscode

**/out
**/publish
**/appsettings.Development.json

**/dist
**/.npm
**/.cache
npm-debug.log*

.git
.gitignore
.dockerignore
**/.git
**/.svn
**/.hg
.idea
*.suo
*.user
*.userosscache
*.sln.docstates

**/*.env
**/*.pem
**/*.key
**/cert.pfx

**/README.md
**/docs
.DS_Store
Thumbs.db